ENV=local
PORT=8080
MYSQL_HOST=localhost
MYSQL_PORT=3306
CLIENT_URL=http://localhost:3000
API_BASE_URL=http://localhost:8080/api

MYSQL_ROOT_PASSWORD=root
DB_USER=root
DB_PASS=root
DB_NAME=tku
SESSION_TTL=24h

CREATOR_NAME=tku

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
AWS_SECRET_ACCESS_KEY=
AWS_ACCESS_KEY_ID=
AWS_REGION=ap-northeast-1
API_BUCKET_NAME=tku-local
AWS_ENDPOINT_URL_S3=http://minio:9000

SEND_GRID_API_KEY=
