.container {
    letter-spacing: 2px;
    animation: shake 1s infinite ease-in-out;
}

$shake: 8px;

@keyframes shake {
    0% {
        transform: translateY(0) rotate(90deg);
    }

    50% {
        transform: translateY($shake) rotate(90deg);
    }

    100% {
        transform: translateY(0) rotate(90deg);
    }
}
