.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    min-width: 400px;

    @include media('sm') {
        min-width: auto;
    }
}

.field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.actions {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    margin-top: 1rem;

    @include media('sm') {
        flex-direction: column;
    }
}
