.container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 10px 30px;
    outline: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: $box-shadow;

    &.no-box-shadow {
        box-shadow: none;
    }

    &:hover:not(:disabled) {
        transition: $transition;
        opacity: 0.8;
    }

    &:disabled {
        background-color: #bbb !important;
        color: #333 !important;
        cursor: not-allowed;
        opacity: 0.6;
    }
}
