.container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 10px 30px;
    outline: none;
    border: none;
    background-color: $primary-bg-color;
    color: $white-text-color;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: $box-shadow;

    &:hover {
        border-color: transparent;
        transition: $transition;
        opacity: 0.8;
    }
}
