/**
 * レスポンシブ
 */
lg()
    @media screen and (max-width $lg-width)
        {block}

md()
    @media screen and (max-width $md-width)
        {block}

md-over()
    @media screen and (min-width $md-width)
        {block}

sm()
    @media screen and (max-width $sm-width)
        {block}

/**
 * flexレイアウト
 */
flex-box(justify-content = space-between, flow = row nowrap, align = stretch)
    display flex
    flex-flow flow
    justify-content justify-content
    align-items align