$font-face = 'Sawarabi Mincho', sans-serif
$title-font-face = 'Lobster'
$title-font-weight = 700
/**
 * media size
 */
$xl-width = 1904px
$lg-width = 1264px
$md-width = 960px
$sm-width = 600px
$font-xxlarge = 24px
/**
 * font size
 */
$font-xlarge = 20px
$font-large = 18px
$font-normal = 16px
$font-medium = 14px
$font-small = 10px
$font-tiny = 8px
/**
 * colors
 */
$primary = #7b675b
$secondary = #BCAAA4
$accent = #FFB74D
$accent-light-color = #e7e3d5
$error = #fce4ec
$warning = #fff9c4
$info = #a7ffeb
$success = #b3e5fc
$title-primary-color = #4b3e36
$title-secondary-color = #AD7C5E
$text-color = #757575
$primary-bg-color = #FFFFFF
$secondary-bg-color = #EFEBE9
$light-bg-color = #F1F8E9
$light-dark-color = #bababa
$danger-color = #b84150
$danger-bg-color = #f8d7da
$danger-border-color = #f5c6cb
$page-background-color = #f5f5f5
$white-color = #fff
/**
 * page layout
 */
$page-padding = 48px 0 0
$page-sp-padding = 0
$page-title-text-align = center
$page-title-margin-bottom = 20px
$page-title-underline = true
$page-title-underline-color = #45a8a1
$page-title-underline-width = 100px
$page-content-section-margin-bottom = 16px

.page-title
    margin-bottom 20px
    color $primary
    text-align center
    font-size 70px !important
    font-family $title-font-face !important

.divider
    border-color $secondary

/**
 * image layout
 */
$image-border-radius = 24px

.fade-up
    animation fadeUp 1s

@keyframes fadeIn
    from
        opacity 0
    to
        opacity 1

@keyframes fadeUp
    from
        opacity 0
        transform translateY(50px)
    to
        opacity 1
        transform translateY(0)

@keyframes fadeDown
    from
        opacity 0
        transform translateY(-50px)
    to
        opacity 1
        transform translateY(0)

@keyframes shake
    0%
    20%
    40%
    60%
    80%
    100%
        transform rotate(0)
    10%
    50%
    90%
        transform rotate(5deg)
    30%
    70%
        transform rotate(-5deg)

@keyframes upDown
    0%
        transform translateY(0)
    50%
        transform translateY(10px)
    100%
        transform translateY(0)
