// font
$font-face = 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', 'YuGothic', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif
$title-font-face = 'Lobster'

// weight
$title-font-weight = 600

// sizes
$lg-width = 1264px
$md-width = 960px
$sm-width = 600px

// font sizes
$font-xxlarge = 24px
$font-xlarge = 20px
$font-large = 18px
$font-normal = 16px
$font-medium = 14px
$font-small = 10px
$font-tiny = 8px

// colors

// vuetifyの設定
$primary = #4caf50
$secondary = #8bc34a
$accent = #cddc39
$error = #fce4ec 
$warning = #fff9c4
$info = #a7ffeb
$success = #b3e5fc

$site-title-text-color = #616161
$title-text-color = #2E7D32
$text-color = #757575
// $border-color = #eee
// $primary-color = #6495ED
$primary-bg-color = #DCEDC8
// $primary-border-color = #b8daff
// $primary-color-gradation = linear-gradient(to left, #45a8a1, #45a8a1)
// $secondary-color = #383d41
$secondary-bg-color = #F5F5F5
// $secondary-border-color = #d6d8db
// $super-light-color = #dedbdb
$light-bg-color = #F1F8E9
// $light-border-color = #ededee
// $dark-color = #1b1e21
// $dark-bg-color = #d6d8d9
// $dark-border-color = #c6c8ca
$light-dark-color = #bababa
// $info-color = #0c5460
// $info-bg-color = #d1ecf1
// $info-border-color = #bee5eb
// $success-color = #155724
// $success-bg-color = #d4edda
// $success-border-color = #c3e6cb
// $warning-color = #856404
// $warning-bg-color = #fff3cd
// $warning-border-color = #ffeeba
$danger-color = #b84150
$danger-bg-color = #f8d7da
$danger-border-color = #f5c6cb
// $highlight-color = #ff9
// $gender-male-color = #0f3b8a
// $gender-female-color = #e02072
$page-background-color = #f5f5f5
// $search-background-color = #f7faf8
// $yellow-color = #f3cc71
// $yellow-bg-color = #e2e3e5
// $yellow-border-color = #f3cc71
$white-color = #fff
// $white-bg-color = #45a8a1
// $white-border-color = #45a8a1
// $orange-color = #f38a44

/**
* イメージレイアウト
*/
$image-border-radius = 24px

// /**
//  * ページレイアウト
//  */
// ページのパディング
$page-padding = 80px 80px 60px
// ページのパディング（スマホ）
$page-sp-padding = 80px 8px 60px
// ページタイトルのテキスト位置
$page-title-text-align = center
// ページタイトルの下マージン
$page-title-margin-bottom = 20px
// ページタイトル下の線
$page-title-underline = true
// ページタイトル下の線色
$page-title-underline-color = #45a8a1
// ページタイトル下の線長さ
$page-title-underline-width = 100px
// ページコンテンツ内のセクション下マージン
$page-content-section-margin-bottom = 16px

// /**
//  * セクションレイアウト
//  */
// // セクションのパディング
// $section-padding = 16px
// // セクションのパディング（スマホ）
// $section-sp-padding = 0
// // セクションのパディング（線あり）
// $section-bordered-padding = 16px 16px
// // 線ありセクションの線色
// $section-bordered-border-color = #eee
// // 線ありセクションの角丸
// $section-bordered-border-radius = 6px
// // セクションタイトルのテキスト位置
// $section-title-text-align = center
// // セクションタイトルの下マージン
// $section-title-margin-bottom = 24px
// // セクションタイトル下の線
// $section-title-underline = true
// // セクションタイトル下の線色
// $section-title-underline-color = #f3cc71
// // セクションタイトル下の線長さ
// $section-title-underline-width = 60px

/**
 * フォームレイアウト
 */
// フォームのパディング
$form-padding = 16px
// フォームのパディング（線あり）
$form-bordered-padding = 16px 32px
// 線ありフォームの線色
$form-bordered-border-color = $primary-color
// 線ありフォームの角丸
$form-bordered-border-radius = 6px
// 線ありフォームの背景色
$form-bordered-bg-color = #fafafa
// フォームののパディング（スマホ）
$form-sp-padding = 8px
// フォームのタイトルのテキスト位置
$form-title-text-align = center
// フォームのタイトルの下マージン
$form-title-margin-bottom = 20px
// フォームのタイトル下の線
$form-title-underline = true
// フォームのタイトル下の線色
$form-title-underline-color = $primary-color
// フォームのタイトル下の線長さ
$form-title-underline-width = 30px
// フォームコンテンツ内のフォーム要素下マージン
$form-item-margin = 16px
// フォームコンテンツ内のフォントサイズ
$form-item-font-size = 20px
// フォームコンテンツ内レイアウトがインラインの場合のラベル幅
$form-item-inline-label-width = 200px

// /**
//  * パネルレイアウト
//  */
// $panel-border-radius = 4px
// $panel-title-padding = 8px 16px
// $panel-content-padding = 16px
// // パネルコンテンツ内のコンテンツ下マージン
// $panel-content-margin-bottom = 16px

// /**
//  * カードレイアウト
//  */
// $card-border-radius = 4px
// $card-title-padding = 8px 16px
// $card-content-padding = 16px
// // カードコンテンツ内のコンテンツ下マージン
// $card-content-margin-bottom = 16px

/**
 * カラムレイアウト
 */
$column-spacing = 16px
$tile-spacing = 16px

// /**
//  * ウィンドウ
//  */
// $window-border-radius = 4px
// $window-border-color = #ededee
// $window-header-padding = 8px 16px
// $window-header-bg-color = #818182
// $window-header-font-color = #fff
// $window-content-padding = 16px

/**
 * ラベル c-label
 */
$c-label-required-content = '必須'
$c-label-required-color = #ff5a5a
$c-label-required-weight = bold
$c-label-required-size = 13px

// /**
//  * テキスト入力 c-text-input
//  */
// // 複数行テキスト入力の場合の高さ
// $c-text-input-multiline-height = 150px


// /**
//  * @extend 用のベーススタイル
//  */
// margin: 0, padding: 0
.zero-space
    margin: 0
    padding: 0
