// 共通レイアウトの設定
body
html
    background-color $page-background-color
    color $text-color
    font-size $font-normal
    font-family $font-face

// 見出しサイズ
h1
h2
h3
h4
h5
h6
    font-weight normal

// リストのデフォルト設定
ul
ol
    list-style none
    li
        line-height 170%

// pタグのデフォルト変更
p
    line-height 160%

// リンクカラーのデフォルト設定
a
    text-decoration none
