// 共通レイアウトの設定
body, html  
    font-family: $font-face;
    font-size: $font-normal
    color: $text-color
    background-color: $page-background-color
    
// ヘッダー系マージンのリセット
h1, h2, h3, h4, h5, h6
    font-weight: normal

// リストレイアウトをリセット
ul, ol
    list-style: none
    li
        line-height: 170%

// pタグのマージンリセット
p
    line-height: 160%

// リンクカラーの設定
a
    text-decoration: none



