/**
 * レスポンシブ
 */
wide()
    @media screen and (max-width $wide-width)
        {block}

pc()
    @media screen and (max-width $pc-width)
        {block}

tablet()
    @media screen and (max-width $tab-width)
        {block}

sp()
    @media screen and (max-width $sp-width)
        {block}

tiny()
    @media screen and (max-width $tiny-width)
        {block}

/**
 * flexレイアウト
 */
flex-box(justify-content = space-between, flow = row nowrap, align = stretch)
    display flex
    flex-flow flow
    justify-content justify-content
    align-items align