/**
 * レスポンシブ
 */
wide() {
    @media screen and (max-width: $wide-width) {
        {block}
    }
}
pc() {
    @media screen and (max-width: $pc-width) {
        {block}
    }
}
tablet() {
    @media screen and (max-width: $tab-width) {
        {block}
    }
}
sp() {
    @media screen and (max-width: $sp-width) {
        {block}
    }
}
tiny() {
    @media screen and (max-width: $tiny-width) {
        {block}
    }
}