$gap: 24px;
$image-size: 512px;

// ループカルーセルのアニメーション
@keyframes loop-slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-1 * (#{$image-size} + #{$gap}) * var(--item-length)));
    }
}

.container {
    position: relative;
    height: calc($image-size + ($gap * 2));
    background: $accent-light-color;
    padding: $gap;
    overflow-x: hidden;

    .wrapper {
        --animation-duration: 60s;
        --item-length: 0;
        position: absolute;
        background: $accent-light-color;
        display: flex;
        gap: $gap;
        animation: loop-slide var(--animation-duration) infinite linear 1s both;

        .product-image {
            cursor: pointer;
            flex-grow: 1;
            aspect-ratio: 1 /1;
            width: $image-size;
            transition: $transition;

            &:hover {
                transform: translateY(-12px);
            }
        }
    }
}
