.page-admin-login {
    width: 100%;
    display: flex;
    justify-content: center;
    // align-items: center;
    min-height: 100vh;
    padding: 16px;

    .admin-login-area {
        background-color: white;
        border-radius: 8px;
        padding: 32px;
        width: 100%;
        max-width: 800px;

        .login-title {
            margin-bottom: 16px;
            font-size: 24px;
            font-weight: 600;
            color: $title-primary-color;
            text-align: center;
        }

        .submit-button {
            margin-top: 32px;
            text-align: center;
        }
    }

    @include media('sm') {
        .admin-login-area {
            padding: 24px;

            .login-title {
                font-size: 20px;
                margin-bottom: 24px;
            }

            .submit-button {
                margin-top: 24px;
            }
        }
    }
}
