$breadcrumb-gap: 12px;

.container {
    padding: 20px 0;
    display: flex;
    align-items: center;
    gap: $breadcrumb-gap;
    user-select: none;
    width: 100%;
    overflow: hidden;

    .breadcrumb {
        display: flex;
        align-items: center;
        gap: $breadcrumb-gap;
        flex-shrink: 0;

        &:last-child {
            flex-shrink: 1;
            min-width: 0;
        }

        &__label {
            font-size: $font-medium;
            color: $primary;
            cursor: auto;
            white-space: nowrap;

            &.link {
                cursor: pointer;

                &:hover {
                    opacity: 0.8;
                }
            }
        }

        &.current-page {
            .breadcrumb__label {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        &__indicator {
            color: $light-dark-color;
            display: flex;
            align-items: center;
        }

        &.current-page {
            .breadcrumb__label {
                color: $light-dark-color;
            }

            .breadcrumb__indicator {
                display: none;
            }
        }
    }
}
